.data {
    &__title {
        margin-bottom: 23px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 35px;

    }

    &__score,
    &__payment {
        flex-basis: 35%;
    }

    &__score {
        margin-bottom: 5px;
    }

    &__value {
        flex-basis: 65%;
        color: $color-black;
    }
}