@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src:
    url("./../fonts/OpenSansRegular.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: italic;
  src:
    url("./../fonts/OpenSansItalic.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  src:
    url("./../fonts/OpenSansBold.woff") format("woff");
}
@font-face {
  font-family: "OpenSansExtraBold";
  font-weight: normal;
  font-style: normal;
  src:
    url("./../fonts/OpenSansExtraBold.woff") format("woff");
}
@font-face {
  font-family: "OpenSansSemiBold";
  font-weight: normal;
  font-style: normal;
  src:
    url("./../fonts/OpenSansSemiBold.woff") format("woff");
}
@font-face {
  font-family: "MullerExtraBold";
  font-weight: bold;
  font-style: normal;
  src:
    url("./../fonts/MullerExtraBold.woff") format("woff");
}
@font-face {
  font-family: "MullerBold";
  font-weight: normal;
  font-style: normal;
  src:
    url("./../fonts/MullerBold.woff") format("woff");
}
@font-face {
  font-family: "MullerHeavy";
  font-weight: normal;
  font-style: normal;
  src:
    url("./../fonts/MullerHeavy.woff") format("woff");
}
@font-face {
  font-family: "MullerMedium";
  font-weight: normal;
  font-style: normal;
  src:
    url("./../fonts/MullerMedium.woff") format("woff");
}