$font-family: "OpenSans", "Arial MT", sans-serif;
$font-size: 14;
$line-height: 24px;
$font-family-extra: "OpenSansExtraBold", "Tahoma", sans-serif;


$color-main: #5e606a;
$color-secondary: #7f38bd;
$gray-dark: #666666;
$gray: #999999;
	