@charset 'utf-8';
@import 'blocks/index';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #101114;
    color: #ffffff;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.page-main {
    width: 1000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}